<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIREBONan</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/styles.css')}}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='images/logo-CIREBONan.png')}}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <a href="#" class="logo"
            >CIREBON<span style="color: orange">an</span></a
          >
          <div class="nav-items">
            <ul class="menu">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li>
                <a href="#rekomendasi_pariwisata">Rekomendasi Pariwisata</a>
              </li>
              <li><a href="#pesan">Pesan</a></li>
            </ul>
            <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
          </div>
          <div class="action-buttons">
            <div class="tombol">
              <img
                src="static/images/burger-menu-svgrepo-com.svg"
                alt="Menu"
                id="hamburger-menu"
              />
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section
      id="home"
      style="
        background: url('/static/images/hero-image.jpg') no-repeat center
          center/cover;
        height: 100vh;
      "
    >
      <div class="home-content">
        <h1>Welcome to CIREBON<span style="color: orange">an</span></h1>
        <p>Pesona Budaya, Sejarah, dan Kuliner Khas yang Memikat.</p>
      </div>
    </section>

    <section id="about">
      <h2>ABOUT</h2>
      <div class="about-content">
        <p>
          Selamat datang di <strong>CIREBONan</strong>, web informasi pariwisata
          yang menghadirkan keindahan dan keunikan destinasi wisata di Cirebon.
          Dari pesona alam yang memukau hingga warisan budaya yang kaya, kami
          berkomitmen menjadi panduan Anda dalam mengeksplorasi keajaiban
          Cirebon.
        </p>
        <p>
          Temukan inspirasi perjalanan, rekomendasi tempat wisata, serta tips
          menarik untuk menjadikan kunjungan Anda ke Cirebon penuh makna. Mari
          bersama-sama merasakan keajaiban Cirebon yang memikat hati.
        </p>
      </div>
    </section>

    <section id="rekomendasi_pariwisata">
      <h2>REKOMENDASI PARIWISATA</h2>
      <div class="table-container">
        <div class="header-actions">
          <a href="/add_item" class="btn">Add New Item</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>Wisata</th>
              <th>Deskripsi</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td>{{ item['name'] }}</td>
              <td>{{ item['description'] }}</td>
              <td>
                <a href="/edit/{{ item['id'] }}" class="btn-warning">Edit</a>
                <form action="/delete/{{ item['id'] }}" method="post">
                  <button type="submit" class="btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

    <section id="pesan">
      <h2>PESAN</h2>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Nama</th>
              <th>Kontak</th>
              <th>Pesan</th>
            </tr>
          </thead>
          <tbody>
            {% if messages %} {% for message in messages %}
            <tr>
              <!-- <td>{{ message.id }}</td> -->
              <td>{{ message.name }}</td>
              <td>{{ message.contact }}</td>
              <td>{{ message.message }}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="4">Tidak ada pesan.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </section>

    <footer>
      <p>
        &copy; 2025 CIREBONan | Dibuat oleh
        <a href="https://www.ahmatfauzi.my.id/">Ahmat Fauzi</a>
      </p>
    </footer>

    <script>
      const tombol = document.getElementById("hamburger-menu");
      const menu = document.querySelector(".menu");

      tombol.addEventListener("click", () => {
        menu.classList.toggle("aktif");
      });
    </script>
  </body>
</html>
